.container {
  padding-top: 80px;
}

.cardContainer {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(25 15 15 / 7%), 0 0 1px 0 rgb(0 0 0 / 8%);
  border: none;
}

.rowTitle {
  padding: 24px 0 4px 0;
  font-weight: 600;
  font-size: 20px;
}

.activeContainer {
  :global {
    // .ant-space {
    //   display: none;
    // }
    // .ant-table-content > .ant-space {
    //   display: block;
    // }
  }
}